<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
      <h1>Barca</h1>
      <h2>More Than A Club</h2>

      <% if(blogs.length > 0) { %> <% blogs.forEach(blog => { %>

      <h3 class="title"><%= blog.title %></h3>
      <p class="snippet"><%= blog.snippet %></p>

      <% }) %> <% } else { %>
      <p>Sorry , there are no blogs to display</p>
      <% } %>
    </div>
  </body>
</html>

<!--  
  using = in ejx , escapes special characters and we end up with a string value instead of raw html 
  hence in include we use -
-->
